@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #f2f2f2;
  background-color: #080404;
}
h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", sans-serif;
}
ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}
/* Custom scrollbar styles */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #3b82f6 #f0f0f0; /* Firefox */
}

.blur-bg {
  filter: blur(9px);
}

/* project cards */
.project-card:first-child {
  border-top: none;
}

.project-card:last-child {
  border-bottom: none;
}

/* quill styles */

.preview,
.saved-content {
  padding: 10px;
  margin-top: 20px;
  background-color: #f9f9f9;
  background-color: #111213; /* Set the background color */
}

.preview h1,
.saved-content h1,
.preview h2,
.saved-content h2,
.preview h3,
.saved-content h3,
.preview h4,
.saved-content h4,
.preview li,
.saved-content li {
  color: #f3f4f6;
}

.preview p,
.saved-content p {
  font-size: 1.1em;
  color: #f3f4f6;
  line-height: 1.6;
}

/* quill toolbar */
.ql-container {
  background-color: #f3f4f6; /* Set the background color */
  background-color: #111213; /* Set the background color */
  color: #f3f4f6; /* Set the text color */
  border: none !important;
  border-radius: 4px;
}

.ql-toolbar {
  background-color: #f3f4f6; /* Set the background color for the toolbar */
  background-color: #111213; /* Set the background color */
  color: #f3f4f6; /* Set the text color for the toolbar icons */
  border: none !important;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.ql-editor {
  padding: 10px; /* Add some padding */
  font-family: Georgia, "Times New Roman", Times, serif;
  height: auto !important;
}
.ql-editor h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 4rem;
}

.ql-editor a {
  color: #1d4ed8; /* Example of customizing link color */
}

.ql-editor img {
  aspect-ratio: 16/9;
  width: 100%; /* Ensure the image scales to the width of its container */
  height: auto; /* Maintain the aspect ratio */
  object-fit: cover;
  object-position: center;
}

/* blog styles */

.ql-editor h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4.5rem !important;
}
.ql-editor h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3.5rem !important;
}
.ql-editor h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3rem !important;
}
.ql-editor h4 {
  font-size: 2.5rem !important;
}
.ql-editor span,
.ql-editor p,
.ql-editor li {
  color: #f3f4f6; /* Set the text color for the toolbar icons */
  font-size: 1.7rem !important;
}
.ql-editor strong {
  color: #f3f4f6; /* Set the text color for the toolbar icons */
  font-size: 2rem !important;
}
.ql-editor p,
.ql-editor li {
  line-height: 4.5rem;
}

.ql-syntax {
  font-size: 1.4rem;
}

/* loader X */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #3b82f6;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

/* loader -- loading text  */

.loader-text {
  font-size: 48px;
  color: #fff;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}
.loader-text:after {
  content: "";
  height: 4px;
  width: 0%;
  display: block;
  background: #3b82f6;
  animation: 5s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}
